#heading{
    font-size: 2rem;
    color: gray;
}
#button-1{
    border-radius: 20px;
    font-size: 1rem;
    color: rgb(119, 83, 15);
    background-color: red;
    padding: 5px ;
    margin: 5px;
    transition: color 0.5s;

}
.one{
    background-color: green;
    width: 250px;
    height: 100px;
}
#button-1:hover{
    color: aqua;
}